<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- BLE ile gözlüğe bağlanmak için (Android 12+/API 31+). "neverForLocation"
         konum çıkarımı yapmadığımızı belirtir - fine location izni istemeden
         tarama yapılabilmesini sağlar (bkz. https://developer.android.com/develop/connectivity/bluetooth/bt-permissions). -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- API 30 ve altı için eski Bluetooth izinleri (geriye dönük uyumluluk). -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="30" />
    <!-- ARA/MESAJ niyetlerinde isim -> numara çözümlemesi için (bkz. contact_resolver.dart). -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Test modundaki "Sesli Komut Ver" butonu için telefon mikrofonu (bkz. speech_input_service.dart). -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Titreşim dili (bkz. haptic_patterns.dart). -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Arka planda/ekran kilitliyken bağlantının sürmesi için foreground
         service (bkz. background/foreground_service.dart). -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Android 14+: connectedDevice türündeki servis, Bluetooth izinlerinden
         biri YA DA bu (normal, onaysız) izin olmadan başlatılamıyor. Simülasyon
         modunda Bluetooth izni istenmediği için gerekli; Faz 5'teki WiFi kare
         aktarımında da kullanılacak. -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:label="Patika"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- flutter_foreground_task servisi (adı değiştirilmemeli). stopWithTask:
             uygulama son uygulamalardan kaydırılınca servis de kapanır. -->
        <service
            android:name="com.pravera.flutter_foreground_task.service.ForegroundService"
            android:foregroundServiceType="connectedDevice|microphone"
            android:stopWithTask="true"
            android:exported="false" />
        <!-- Hızlı Ayarlar karosu "Patika: Konuş" (bkz. ListenTileService.kt). -->
        <service
            android:name=".ListenTileService"
            android:exported="true"
            android:icon="@drawable/ic_tile_mic"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- ARA/MESAJ/NAVİGASYON/MÜZİK/HABER handler'larının url_launcher ile
             native uygulamaları açabilmesi için (Android 11+ paket görünürlüğü). -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="sms"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <!-- speech_to_text'in cihazdaki konuşma tanıma motorunu bulabilmesi için. -->
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>
</manifest>
